extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            .row.mg-t3.position-re 
                .col-sm-6.ps-ab-left
                    .panel.panel-default.height-full.mg-0
                        .panel-heading
                            h6.panel-title
                                |  Hệ thống quản lý kế hoạch
                        .panel-body
                            .row
                                .col-sm-6
                                    .form-group.mg-t1.mg-b1
                                        label.control-label Từ ngày: 
                                        input.form-control(type='date', name="date")
                                .col-sm-6
                                    .form-group.mg-t1.mg-b1
                                        label.control-label Đến ngày:
                                        input.form-control(type='date', name="date")
                            .row
                                .col-sm-6
                                    .form-group.mg-t1.mg-b1
                                        label.control-label Ngày báo cáo: 
                                        input.form-control(type='date', name="date")
                .col-sm-6.float-right.float-right-none.col-xs-12
                    .panel.panel-default.mg-0
                        .panel-heading
                            h6.panel-title
                                |  Xem bảng cân đối thời gian sử dụng
                        .panel-body
                            .row.box-radio
                                .col-sm-12
                                    .form-group.mg-t1.mg-b1
                                        input(type="radio", name="radio1", value="1" checked)
                                        label.label-radio Xem bảng cân đối tất cả các kho
                                    .form-group.mg-t1.mg-b1
                                        input(type="radio", name="radio1", value="3")
                                        label.label-radio Bảng tổng hợp
                                    .form-group.mg-t1.mg-b1
                                        input(type="radio", name="radio1", value="4")
                                        span.label-radio
                                            label Chọn xem bảng cân đối điều chuyển
                                .col-sm-12.mg-t0
                                    .row.pd-0    
                                        .col-sm-7.form-group.mg-t1.mg-b1
                                            input(type="radio", name="radio1", value="2")
                                            label.label-radio Chọn xem bảng cân đối theo kho
                                        .col-sm-3.mg-t0.col-xs-3
                                            select.form-control(name='select')
                                                option(value='opt1') k10
                                                option(value='opt2') k11
                                                option(value='opt3') k12
                                                option(value='opt4') k13
                            .row
                                .form-group.col-sm-10.mg-t1.mg-b1
                                        label.control-label.col-sm-12.pd-0 Mã sản phẩm: 
                                        .form-group.mg-t1.mg-b1
                                            .row
                                                .col-sm-4
                                                    select.form-control(name='select')
                                                        option(value='opt1') N1B0
                                                        option(value='opt2') N1B0
                                                        option(value='opt3') N1B0
                                                        option(value='opt4') N1B0
                                                .col-sm-8
                                                    input.form-control(type='text')
            .form-actions.text-center.mg-b1.mg-t3
                button.btn.btn-primary.btn-defaults.mg-r3(type='submit') Excel
                button.btn.btn-primary.btn-defaults.mg-r3#btnradio(type='submit') Đồng ý
                button.btn.btn-primary.btn-defaults.mg-r3(type='submit') Thoát
